<footer class="footer">
    <ul class="footer_ul">
        <li>
            <p class="footer_contacts">Техническая поддержка: Почта@sfedu.ru</p>
        </li>
        <li class="footer_li_ref">
            <a href="team.html"><img src="<%= `/img/5mgnZA3Dn60.jpg` %>" class="footer_img"></a>
        </li>
        <li class="footer_li_ref">
            <a href=""><img src=<%= `/img/SFEDU.jpg` %> class="footer_img"></a>
        </li>
        <li class="footer_li_ref">
            <a href=""><img src="/img/SFEDU.jpg" class="footer_img"></a>
        </li>
    </ul>
</footer>