<ul class="menu">
    <li class="menu_li menu_li_img"><a href="index.html"><img src="<%= `${publicDir}/img/LOGONAH 1.png` %> " class="li_img"></a></li>
    <li class="menu_li"><a href="nastavniki.html">Наставники</a></li>
    <li class="menu_li"><a href="table.html">Записаться на проект</a></li>
    <li class="menu_li"><a href="first1.html">Портфолию проектов </a></li>
    <li class="menu_li"><a href="FAQ.html">FAQ</a></li>
    <li class="menu_li"><a href="lichka.html">Вход</a></li>
</ul>