<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <header>
        <ul class="menu">
            <li class="menu_li menu_li_img"><a href="index.html"><img src="img/LOGONAH 1.png" class="li_img"></a></li>
            <li class="menu_li"><a href="nastavniki.html">Наставники</a></li>
            <li class="menu_li"><a href="table.html">Записаться на проект</a></li>
            <li class="menu_li"><a href="first1.html">Портфолию проектов </a></li>
            <li class="menu_li"><a href="FAQ.html">FAQ</a></li>
            <li class="menu_li"><a href="lichka.html">Вход</a></li>
        </ul>
        <div class="hamburger-menu">
            <a href="index.html" class="logo"> <img src="img/LOGONAH%201.png"></a>
            <input id="menu__toggle" type="checkbox" />
            <label class="menu__btn" for="menu__toggle">
                <span></span>
            </label>

            <ul class="menu__box">
                <li><a class="menu__item" href="first1.html">Портфолию проектов</a></li>
                <li><a class="menu__item" href="table.html">Запись на проекты</a></li>
                <li><a class="menu__item" href="nastavniki.html">Наставники</a></li>
                <li><a class="menu__item" href="FAQ.html">FAQ</a></li>
                <li><a class="menu__item" href="lichka.html">Вход</a></li>
            </ul>
        </div>
    </header>
    <div class="team_div">
        <div class="team_div_back">

            <div class="team_container">
                <div class="team_con">
                    <div class="img_team_div">
                        <img src="img/5mgnZA3Dn60.jpg" class="img_team">
                    </div>
                    <p style="text-align: center;"> Команда:
                        <script>
                            var name = "Название";
                            document.write(name);
                        </script>
                    </p><br />
                    <div class="Opis_komand">
                        <p>Название проекта:
                            <script>
                                var name = 'Сайт-портфолио работ студентов Проектного офиса';
                                document.write(name);
                            </script>
                        </p><br />
                        <p>Наставник:
                            <script>
                                var name = 'Олег Стельмах';
                                document.write(name);
                            </script>
                        </p><br />
                        <p>Капитан:
                            <script>
                                var name = 'Дарья Юрьевна';
                                document.write(name);
                            </script>
                        </p><br />
                        <p>Состав:
                        <div style="margin-left: 5%;">
                            <script>
                                let guestList = "Артем Богданова";
                                let guestList1 = "Артем Богданова";
                                let guestList2 = "Артем Богданова";
                                let guestList3 = "Артем Богданова";
                                let guestList4 = "Артем Богданова";
                                let guestList5 = "Артем Богданова";

                                document.write(guestList + "<br/>" + guestList1 + "<br/>" + guestList2 + "<br/>" + guestList3 + "<br/>" + guestList2 + "<br/>" + guestList2);
                            </script>
                        </div>
                        </p><br />

                        <p>
                            Описание:
                            <script>
                                var name = "Описание проекта: За несколько лет в проектном офисе были успешно реализованы работы студентов. Они продемонстрированы небольшой аудитории, заслужили высокие оценки, но не получили широкой известности. Наша задача показать образцовые работы студентов,  чтобы абитуриенты вуза, студенты и коллеги могли оценить высокий уровень навыков наших студентов.";
                                document.write(name);
                            </script>
                        </p><br />
                        <div class="team_opis_tex">
                            <p>Техническое задание: 
                            <a href="http://ictis.sfedu.ru/rasp/HTML/45.htm">http://ictis.sfedu.ru/rasp/HTML/45.htm</a></p>
                            <p>Результаты: <a href="http://ictis.sfedu.ru/rasp/HTML/45.htm">http://ictis.sfedu.ru/rasp/HTML/45.htm</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer nas_footer">
        <ul>
            <li>
                <!--<p class="footer_contacts">Телефоны:<br /> +7 (905) 459-21-58<br /> +7(863) 218-40-00 <br /> +7(8634) 68-08-90 <br />доб. 30106 <br />E-Mail: proictis@gmail.com</p>-->
                <p class="footer_contacts">E-Mail: proictis@gmail.com</p>
            </li>
            <li>
                <a href="team.html"><img src="img/5mgnZA3Dn60.jpg" class="footer_img"></a>
            </li>
            <li>
                <a href="https://sfedu.ru/"><img src="img/SFEDU.jpg" class="footer_img"></a>
            </li>
            <li>
                <a href="http://ictis.sfedu.ru/"><img src="img/ictisLogo.jpg" class="footer_img"></a>
            </li>
        </ul>
    </footer>
</body></html>