<div class="portfolio_spisok_con 
<% if (isLast) { %>
    third_con_por
<% } %>">

    <p>Команда: <%= project.Team.team_name %> <br/>
        Тема: "<%= project.project_name %> "<br/>
        Наставник: <%= project.Team.Mentor.mentor_fullName %> </p>
</div>