<!DOCTYPE html>
<html lang="ru">
    
<%- include('../util-parts/head', {

}) %> 

<body>
    <div class="page">
        <header>
            
            <%- include('../util-parts/menu', {
                user: user,
                activeElement: -1,
                isUserPage: false
            })  %> 

            <%- include('../util-parts/hamburgerMenu', {
                user: user
            })  %> 

        </header>
        <div class="index_fon">
            <div class="index_fon_back">
                <h1>Архив проектов<br/>
                    ИКТИБ
                </h1>
                
                <div class="slider_">
                    <div class="slider_first">
                        <div class="slider">
                            <!-- Первый слайд -->
                            <div class="item">
                                <a href="https://vk.com/proictis?w=wall-177747188_1129">
                                    <img src="https://sun9-34.userapi.com/impg/ooblVha3ysoiNEg23m5pFqqdhQcuiAzmHSal7w/_8eaIb5D4WM.jpg?size=2560x1709&quality=96&sign=1af7b189f18b94961d03d6003e74a64a&type=album">
                                </a> 
                            </div>
                          
                            <!-- Второй слайд -->
                            <div class="item">
                                <a href="https://vk.com/proictis?w=wall-177747188_1133">
                                    <img src="https://sun9-72.userapi.com/impg/clyT4wXFpgvklV-kgTZA7SSPqwGRvPXdKmElYg/N66Ol-HXDfM.jpg?size=940x788&quality=96&sign=9b9e0fa91e5b25902faa8cd6eb34c783&type=album">
                                </a> 
                            </div>
                          
                            <!-- Третий слайд -->
                            <div class="item">
                                <a href="https://vk.com/proictis?w=wall-177747188_1123">
                                    <img src="https://sun9-4.userapi.com/impg/m5dN0btVq-qSPTigfKBOfSsPyUZcVesUH4sLJw/q9bTszzzxa0.jpg?size=1389x1140&quality=96&sign=df5d7e67cb36b3326c05ee2771986862&type=album">
                                </a> 
                            </div>
                          
                            <!-- Кнопки-стрелочки -->
                            <a class="previous_slider" onclick="previousSlide()">&#10094;</a>
                            <a class="next_slider" onclick="nextSlide()">&#10095;</a>
                          </div>
                    </div>
                    <div class="text_second">
                        <p>Данный сайт помогает ознакомиться с проектами разных курсов прошлых годов и увидеть их результаты. Здесь так же можно посмотреть список текущих проектов и записаться на выбранный вами проект. Помимо этого на сайте можно найти информацию о наставниках.</p>
                    </div>
                </div>
            </div>
        </div>
        
        <%- include('../util-parts/footer', {

        })  %> 

    </div>
    <script src="js/main.js"></script>
</body>
</html>