<!DOCTYPE html>
<html lang="ru">

<%- include('../util-parts/head', {

}) %> 

<body>
    <div class="page">
        <header>
            
            <%- include('../util-parts/menu', {
                user: user,
                activeElement: 4
            })  %> 

            <%- include('../util-parts/hamburgerMenu', {
                user: user
            })  %>

        </header>
    <div class="faq_fon">
        <div class="faq_fon_con">
            <div class="wrapper">
                <div class="row">
                    <div class="accordion">
                        <details class="accordion__item">
                            <summary class="accordion__title">Как записаться на проект?</summary>
                            <p class="accordion__body">Очень легко! Есть два способа записи на проект.<br/><br/>
                                1)Ты можешь это сделать на нашем сайте. Просто зайти в раздел «Портфолио проектов» и нажми на кнопку «Записаться на проект». Пройди авторизацию через свой логин и пароль. Готово! Выбирай проект по душе и записывайся!<br/><br/>
                                2)Если вы собрали команду, выбрали тему и хотите, чтобы никто не занял ваши места приходите в И-223. Всей командой или сам. Если сам, то не забудь спросить у всех членов команды ФИО и группу. С записью вам поможет Пленкин А.П., он сделает это прямо перед вашими глазами. Записаться в корпусе И можно быстрее, чем откроется запись. Кстати, если ты выбрал проект, но команды у тебя нет, ты все равно можешь записаться этим способом, если конечно тебя не пугают новые знакомства.
                                </p>
                        </details>
                        <details class="accordion__item">
                            <summary class="accordion__title">Можно ли предложить свою тему для проекта и как это реализовать ?</summary>
                            <p class="accordion__body">Конечно, да. Но есть одно условие ты должен собрать свою команду (6-8 человек) и точно понимать, что вы собираетесь реализовать. Если выше написанное сделано, то подходи в И-223. Всей командой или сам. Если сам, то не забудь спросить у всех членов команды ФИО и группу. С записью вам поможет Пленкин А.П., он сделает это прямо перед вашими глазами. Записаться в корпусе И можно быстрее, чем откроется запись.</p>
                        </details>
                        <details class="accordion__item">
                            <summary class="accordion__title">Что если я не успела записаться?</summary>
                            <p class="accordion__body">Это очень грустно. Тебя закинут в рандомную команду. К сожалению, это единственный вариант.</p>
                        </details>
                        <details class="accordion__item">
                            <summary class="accordion__title">Где посмотреть темы проектов?</summary>
                            <p class="accordion__body">Можешь сделать это у нас на сайте или же в курсах ЛМС, куда тебя автоматически добавят.</p>
                        </details>
                        <details class="accordion__item">
                            <summary class="accordion__title">Как образуется команда?</summary>
                            <p class="accordion__body">Есть два способа создания команд:<br/><br/>
                                1)Вы находите друг друга сами. Вы учитесь вместе в группе, в потоке и тд. Понимаете, что вам комфортно работать друг с другом и вы хотите поработать в проекте. Собираете команду из 6-8 человек и записываетесь на проект. Только не затягивайте с этим.<br/>
                                2)Так же если тебе интересна тема проекта, то не обязательно искать команду, просто запишись. И скорей всего такие же ребята, как и ты, которым понравилась эта тема, запишутся сюда же.
                                </p>
                        </details>
                        <details class="accordion__item">
                            <summary class="accordion__title">Как считаются баллы?</summary>
                            <p class="accordion__body">10 баллов – 1 промежуточный отчет<br/>
                                10 баллов – 2 промежуточный отчет<br/>
                                10 баллов – 3 промежуточный отчет<br/>
                                10 баллов – индивидуальная оценка членов команды<br/>
                                10 баллов - пояснительная записка<br/>
                                10 баллов – оценка маркетинга и командной работы<br/>
                                40 баллов - защита проекта<br/>
                                +бонусные баллы
                                </p>
                        </details>
                    </div>
                    
                </div>
            </div>
            <div class="faq_question">
                <h2>Не нашли ответ на свой вопрос?</h2>
                <p><strong>Опишите вопрос ниже</strong></p>
                <form>
                    <textarea name="comment" cols="40" rows="3" class="faq_form_input"></textarea>
                </form>
                <p><strong>Ваш e-mail:</strong></p>
                <form class="faq_form">
                    <input type="email" class="faq_input">
                </form>
                <button value="asdas" style="width: 200px; height: 32px; border-color: gray; background-color: #D0E0E9; border-radius: 100px; margin-left: 5%; border-top-width: 1px;border-top-style: solid; border-right-width: 1px;border-right-style: solid; border-left-width: 1px;border-left-style: solid; border-bottom-width: 1px;border-bottom-style: solid; margin-bottom: 10px;" onclick="send()">Отправить</button>
            </div>
        </div>
      
    </div>

    <%- include('../util-parts/footer', {

    })  %> 

    </div>
</body>
</html>