* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    height: 60px;
    width: 100%;
    background: #5582BD;

}

.menu {
    line-height: 60px;
    display: flex;
    list-style: none;
    height: 100%;
}

.menu_li > * {
    font-weight: 700;
    font-size: 12pt;
}

.menu_li_active {
    background: rgba(255, 255, 255, .3);
}

.menu_ul {
    list-style: none;
    display: inline-flex;
    width: 95%;
    padding-left: 20px;
}

.menu_logo {
    max-width: 150px;
}

.menu_logo > a {
    float: left;
}

.li_img {
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.menu_li_img {
    margin-left: -50px;
    margin-top: 5px;
}

.menu a {
    text-decoration: none;
    color: white;
}

.menu_li {
    width: 20%;
    text-align: center;
}

.footer {
    /*margin-top: 15%;*/
    margin-left: 55%;
    margin-right: 5%;
    margin-top: auto;
}

.hamburger-menu {
    display: none;
}

.footer_contacts {
    margin: 15px 0 0 0;
    font-weight: 700;
}

.footer_li_ref {
    margin-left: 7%;
}

.footer_ul {
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
}

.footer_ul > li {
    list-style: none;
}

.footer_ul > li > a > img {
    width: 60px;
}

.Mob_TAb {
    display: none;
}

.page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.menu_li_poisk {
    margin-right: 5%;
    float: left;
}

.menu_li_poisk input {
    height: 30px;
    border-radius: 15px;
}

@media screen and (max-width: 850px) {

    header {
        position: fixed;
        height: 60px;
        z-index: 60;
        width: 100%;
        background: #5582BD;
    }

    .menu {
        display: none;
    }

    #menu__toggle {
        opacity: 0;
    }

    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }

    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        right: 0;
    }

    .menu__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 20px;
        right: 20px;

        width: 26px;
        height: 26px;
        z-index: 55;
        cursor: pointer;

    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        z-index: 55;
        width: 100%;
        height: 2px;

        background-color: #616161;

        transition-duration: .25s;
    }

    .menu__btn > span::before {
        content: '';
        top: -8px;

    }

    .menu__btn > span::after {
        content: '';
        top: 8px;

    }

    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;

        right: -100%;

        width: 300px;
        padding-bottom: 50px;

        margin: 0;
        padding: 80px 0;

        list-style: none;

        background-color: #ECEFF1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        z-index: 45;
        transition-duration: .25s;
    }

    .menu__item {
        display: block;
        padding: 12px 24px;

        color: #333;

        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        z-index: 50;
        text-decoration: none;

        transition-duration: .25s;
    }

    .menu__item:hover {
        background-color: #CFD8DC;
    }

    .hamburger-menu {
        align-items: center;
        display: flex;

    }

    .hamburger-menu img {
        width: 40%;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}