<!DOCTYPE html>
<html lang="ru">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="page">
        <header class="headerN">
            <ul class="menu">
                <li class="menu_li menu_li_img"><a href="index.html"><img src="img/LOGONAH 1.png" class="li_img"></a></li>
                <li class="menu_li"><a href="nastavniki.html">Наставники</a></li>
                <li class="menu_li" style="background: rgba(255, 255, 255, 0.3);"><a href="table.html">Записаться на проект</a></li>
                <li class="menu_li"><a href="first1.html">Портфолию проектов </a></li>
                <li class="menu_li"><a href="FAQ.html">FAQ</a></li>
                <li class="menu_li"><a href="lichka.html">Вход</a></li>
            </ul>
            <div class="hamburger-menu">
                <a href="index.html" class="logo"> <img src="img/LOGONAH%201.png"></a>
                <input id="menu__toggle" type="checkbox" />
                <label class="menu__btn" for="menu__toggle">
                    <span></span>
                </label>

                <ul class="menu__box">
                    <li><a class="menu__item" href="first1.html">Портфолию проектов</a></li>
                    <li><a class="menu__item" href="table.html">Запись на проекты</a></li>
                    <li><a class="menu__item" href="nastavniki.html">Наставники</a></li>
                    <li><a class="menu__item" href="FAQ.html">FAQ</a></li>
                    <li><a class="menu__item" href="lichka.html">Вход</a></li>
                </ul>
            </div>
        </header>

        <div class="table_fon">
            <div class="table_fon_fon">
                <div class="info_table">
                    <div class="NAS_P">
                        <form>
                            <!--<input type="search" name="Q" placeholder="  Введите имя или фамилию Наставника" class="NAS_P_in">-->
                            <input type="text" placeholder="Введите имя или фамилию Наставника">
                            <button type="submit"></button>
                        </form>
                    </div>
                </div>
                <div class="div_table">
                    <table class="table__">
                        <tr>
                            <th class="first_paragraph table_back_light">Название первых проектов </th>
                            <th class="second_paragraph table_back_light">НАСТАВНИК</th>
                            <th class="third_paragraph table_back_light"> </th>
                        </tr>
                        <tr>
                            <td class="first_paragraph table_back_dark">"Сайт-портфолио работ студентов Проектного офиса"</td>
                            <td class="second_paragraph table_back_dark">Стельмах О. А. </td>
                            <td class="third_paragraph table_back_dark"><a href="" style="color: red; text-decoration: none;">Записаться </a></td>
                        </tr>
                        <tr>
                            <td class="first_paragraph table_back_light">"Сайт-портфолио работ студентов Проектного офиса"</td>
                            <td class="second_paragraph table_back_light">Стельмах О. А. </td>
                            <td class="third_paragraph table_back_light"><a href="" style="color: red; text-decoration: none;">Записаться </a></td>
                        </tr>
                        <tr>
                            <td class="first_paragraph table_back_dark">"Сайт-портфолио работ студентов Проектного офиса"</td>
                            <td class="second_paragraph table_back_dark">Стельмах О. А. </td>
                            <td class="third_paragraph table_back_dark"><a href="" style="color: red; text-decoration: none;">Записаться </a></td>
                        </tr>
                        <tr>
                            <td class="first_paragraph table_back_light">"Сайт-портфолио работ студентов Проектного офиса"</td>
                            <td class="second_paragraph table_back_light">Стельмах О. А. </td>
                            <td class="third_paragraph table_back_light"><a href="" style="color: red; text-decoration: none;">Записаться </a></td>
                        </tr>
                        <tr>
                            <td class="first_paragraph table_back_dark"> </td>
                            <td class="second_paragraph table_back_dark"> </td>
                            <td class="third_paragraph table_back_dark"> </td>
                        </tr>
                        <tr>
                            <td class="first_paragraph table_back_light"> </td>
                            <td class="second_paragraph table_back_light"> </td>
                            <td class="third_paragraph table_back_light"> </td>
                        </tr>
                        <tr>
                            <td class="first_paragraph table_back_dark"> </td>
                            <td class="second_paragraph table_back_dark"> </td>
                            <td class="third_paragraph table_back_dark"> </td>
                        </tr>
                        <tr>
                            <td class="first_paragraph table_back_light"> </td>
                            <td class="second_paragraph table_back_light"> </td>
                            <td class="third_paragraph table_back_light"> </td>
                        </tr>
                        <tr>
                            <td class="first_paragraph table_back_dark"> </td>
                            <td class="second_paragraph table_back_dark"> </td>
                            <td class="third_paragraph table_back_dark"> </td>
                        </tr>
                        <tr>
                            <td class="first_paragraph table_back_light"> </td>
                            <td class="second_paragraph table_back_light"> </td>
                            <td class="third_paragraph table_back_light"> </td>
                        </tr>
                        <tr>
                            <td class="first_paragraph table_back_dark"> </td>
                            <td class="second_paragraph table_back_dark"> </td>
                            <td class="third_paragraph table_back_dark"> </td>
                        </tr>
                        <tr>
                            <td class="first_paragraph table_back_light"> </td>
                            <td class="second_paragraph table_back_light"> </td>
                            <td class="third_paragraph table_back_light"> </td>
                        </tr>
                        <tr>
                            <td class="first_paragraph table_back_dark"> </td>
                            <td class="second_paragraph table_back_dark"> </td>
                            <td class="third_paragraph table_back_dark"> </td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
        <footer class="footer nas_footer">
            <ul>
                <li>
                    <!--<p class="footer_contacts">Телефоны:<br /> +7 (905) 459-21-58<br /> +7(863) 218-40-00 <br /> +7(8634) 68-08-90 <br />доб. 30106 <br />E-Mail: proictis@gmail.com</p>-->
                    <p class="footer_contacts">E-Mail: proictis@gmail.com</p>
                </li>
                <li>
                    <a href="team.html"><img src="img/5mgnZA3Dn60.jpg" class="footer_img"></a>
                </li>
                <li>
                    <a href="https://sfedu.ru/"><img src="img/SFEDU.jpg" class="footer_img"></a>
                </li>
                <li>
                    <a href="http://ictis.sfedu.ru/"><img src="img/ictisLogo.jpg" class="footer_img"></a>
                </li>
            </ul>
        </footer>
    </div>
</body></html>
