<!DOCTYPE html>
<html lang="ru">

<%- include('../util-parts/head', {

}) %> 

<body>
    <div class="page">
        <header class="headerN">

            <%- include('../util-parts/menu', {
                user: user,
                activeElement: 2
            })  %> 

            <%- include('../util-parts/hamburgerMenu', {
                user: user
            })  %>
        
        </header>

        <div class="table_fon">
            <div class="table_fon_fon">
                <div class="info_table">
                    <div class="NAS_P">
                        <form>
                            <!--<input type="search" name="Q" placeholder="  Введите имя или фамилию Наставника" class="NAS_P_in">-->
                            <input type="text" placeholder="Введите имя или фамилию Наставника">
                            <button type="submit"></button>
                        </form>
                    </div>
                </div>
                <div class="div_table">
                    <table class="table__">
                        <tr>
                            <th class="first_paragraph table_back_light">Название первых проектов </th>
                            <th class="second_paragraph table_back_light">НАСТАВНИК</th>
                            <th class="third_paragraph table_back_light"> </th>
                        </tr>
                        <tr>
                            <td class="first_paragraph table_back_dark">"Сайт-портфолио работ студентов Проектного офиса"</td>
                            <td class="second_paragraph table_back_dark">Стельмах О. А. </td>
                            <td class="third_paragraph table_back_dark"><a href="/registration" style="color: green; text-decoration: none;">Отменить </a></td>
                        </tr>
                        <tr>
                            <td class="first_paragraph table_back_light">"Приложение для анализа игры. Баскетболл"</td>
                            <td class="second_paragraph table_back_light">Плёнкин А. П. </td>
                            <td class="third_paragraph table_back_light"><a href="/registration/2" style="color: red; text-decoration: none;">Записаться </a></td>
                        </tr>
                        <tr>
                            <td class="first_paragraph table_back_dark">"Чат-бот ИКТИБ"</td>
                            <td class="second_paragraph table_back_dark">Стельмах О. А. </td>
                            <td class="third_paragraph table_back_dark"><a href="/registration/3" style="color: red; text-decoration: none;">Записаться </a></td>
                        </tr>
                        <tr>
                            <td class="first_paragraph table_back_light">"Десктопная игра"</td>
                            <td class="second_paragraph table_back_light">Переверзев В. А. </td>
                            <td class="third_paragraph table_back_light"><a href="/registration/4" style="color: red; text-decoration: none;">Записаться </a></td>
                        </tr>
                        <!-- <tr>
                            <td class="first_paragraph table_back_dark"> </td>
                            <td class="second_paragraph table_back_dark"> </td>
                            <td class="third_paragraph table_back_dark"> </td>
                        </tr>
                        <tr>
                            <td class="first_paragraph table_back_light"> </td>
                            <td class="second_paragraph table_back_light"> </td>
                            <td class="third_paragraph table_back_light"> </td>
                        </tr>
                        <tr>
                            <td class="first_paragraph table_back_dark"> </td>
                            <td class="second_paragraph table_back_dark"> </td>
                            <td class="third_paragraph table_back_dark"> </td>
                        </tr>
                        <tr>
                            <td class="first_paragraph table_back_light"> </td>
                            <td class="second_paragraph table_back_light"> </td>
                            <td class="third_paragraph table_back_light"> </td>
                        </tr>
                        <tr>
                            <td class="first_paragraph table_back_dark"> </td>
                            <td class="second_paragraph table_back_dark"> </td>
                            <td class="third_paragraph table_back_dark"> </td>
                        </tr>
                        <tr>
                            <td class="first_paragraph table_back_light"> </td>
                            <td class="second_paragraph table_back_light"> </td>
                            <td class="third_paragraph table_back_light"> </td>
                        </tr>
                        <tr>
                            <td class="first_paragraph table_back_dark"> </td>
                            <td class="second_paragraph table_back_dark"> </td>
                            <td class="third_paragraph table_back_dark"> </td>
                        </tr>
                        <tr>
                            <td class="first_paragraph table_back_light"> </td>
                            <td class="second_paragraph table_back_light"> </td>
                            <td class="third_paragraph table_back_light"> </td>
                        </tr>
                        <tr>
                            <td class="first_paragraph table_back_dark"> </td>
                            <td class="second_paragraph table_back_dark"> </td>
                            <td class="third_paragraph table_back_dark"> </td>
                        </tr> -->

                    </table>
                </div>
            </div>
        </div>
        
        <%- include('../util-parts/footer', {

        })  %> 

    </div>
</body></html>
